body {
	font-family: sans-serif;
	background-color: #6d6e70;
  color: #fff;
	font-size: 16px;
}

.logo {
	vertical-align: bottom;
	height: 3rem;
	margin-right: 0.5rem;
}

.control-buttons {
	margin-top: 3rem;
}

@media (max-width: 640px) {
	.email {
		visibility: hidden;
  }
}

@media (min-width: 640px) {
	.email {
		visibility: visible;
  }
}

#results {
	background-color: #003359;
	font-size: 2rem;
	color: #fff;
	border-radius: 1rem;
	height: 33vh;
	overflow-y: hidden;
	display: flex;
  flex-direction: column-reverse;
  /* justify-content: flex-end; */
	/* align-items: flex-end; */
}

.option-button {
	background-color: #f8933c;
	color: #000;
	margin-right: 1rem;
}

.option-button:hover {
	background-color: #c67431;
	color: #000;
}

/* .control-buttons button {
	background-color: #8bc657;
	color: #000;
} */

/* #gifEl.static {
	content: url('avatar.png');
} */

#gifEl {
	height: calc(50vh - 10px);
	/* border-radius: 1rem; */
}

.avatar-wrapper {
	/* width: 33%; */
	background-color: #dad9d9;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 50vh;
	/* margin-right: 1rem; */
}


button, .option-button {
	padding: 0.5rem;
	border-radius: 1rem;
	border: none;
	font-size: 16px;
}

.hidden {
	display: none;
}

/* input[type='radio'] {
	display: none;
} */

/* input[type='radio']:checked + label {
	background-color: #995726;
	/* font-weight: 600; */
/* } */

/* .control-buttons button:hover {
	background-color: #709e45;
} */

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	/* align-items: stretch; */
}

@media (max-width: 768px) {
	.row {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    /* justify-content: ; */
  }
}

.results-wrapper {
	flex: 1;
}

.avatar-wrapper {
	flex: 1.25;
}
